{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest"],
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-fragments": "off",
    "react/no-unused-prop-types": "off",
    "import/export": "off",
    "no-use-before-define": "off",
    "no-new": "off",
    "no-extra-semi": "off",
    "no-empty-pattern": "off",
    "no-case-declarations": "off",
    "jest/no-export": "off",
    "jest/expect-expect": "off",
    "react/jsx-pascal-case": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": ["warn", { "ignoreRestArgs": true }],
    "no-empty": ["error", { "allowEmptyCatch": true }]
  }
}
